/* Custom properties */

:root {
    --cl-light: #fff;
    --cl-dark: #292929;
    --cl-accent: #ff6600;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-regular: 300;
    --fw-bold: 900;

    --fs-h1: 1.5em;
    --fs-h2: 1.2em;
    --fs-h3: 1em;
    --fs-body: 1em;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-height: 760px) {
    :root {
        --fs-h1: 2rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1.3rem;
        --fs-body: 1.3rem;
    }
}


/* General styles */

body {
    background: var(--cl-light);
    margin: 0 auto;
    text-align: center;
    font-family: var(--ff-primary);
    line-height: 1.6;
    font-size: var(--fs-body);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

section {
    margin: 1em;
}

@media(min-width: 800px) {
    section {
        margin: 1.75em;
    }
}

.section__subtitle {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    margin: 0.5em 0 0.75em;
}

span {
    color: var(--cl-accent);
}

/* Header */

.header {
    padding: 0.4em;
}

.logo {
    font-family: var(--ff-secondary);
    text-align: left;
}


/* Introduction */

.intro {
    margin-top: 0.7em;
}

.intro__img {
    box-shadow: var(--bs);
	border-radius: 50%;
	width: 25%;
	min-width: 250px;
}

@media (min-width: 600px) {
    .intro__img {
		width: 22%;
    }
}


/* Main */

.btn {
    display: inline-block;
    background: var(--cl-accent);
    padding: 0.65em;
    box-shadow: var(--bs);

    text-decoration: none;
    color: var(--cl-light);
    font-family: var(--ff-secondary);
    letter-spacing: 2px;
    font-size: calc(var(--fs-body)*0.9);

    transition: transforms 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Footer */

.footer {
    line-height: 1.8;
}

.footer a:hover {
    color: var(--cl-accent);
}

.footer__link {
    color: inherit;
}

.social-item {
    display: inline-block;
    font-size: calc(var(--fs-body)*1.5);
}

.social-item + .social-item {
    margin-left: 0.8em;
}